# Лабораторная работа №5.

# Задание №1.

1) Установим необходимые библиотеки и вызовем их:

In [1]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd

2) Создадим списки x и x_with_nan:

In [2]:
import math
x = [10.0, 2, 2.5, 5, 26.0]
x_with_nan = [10.0, 2, 2.5, math.nan, 5, 26.0]
print(f'Вывод исходных данных, которые содержатся в x:{x}')
print(f'Вывод исходных данных, которые содержатся в x_with_nan:{x_with_nan}')

Вывод исходных данных, которые содержатся в x:[10.0, 2, 2.5, 5, 26.0]
Вывод исходных данных, которые содержатся в x_with_nan:[10.0, 2, 2.5, nan, 5, 26.0]

3) Создадим объекты np.ndarray и pd.Series, соответствующие x и x_with_nan:

In [3]:
import numpy as np
import pandas as pd
y, y_with_nan = np.array(x), np.array(x_with_nan)
z, z_with_nan = pd.Series(x), pd.Series(x_with_nan)
print(f'Вывод данных, которые содержатся в y и y_with_nan:{y}, {y_with_nan}')
print(f'Вывод данных, которые содержатся в z и в z_with_nan: {z}, {z_with_nan}')

Вывод данных, которые содержатся в y и y_with_nan:[10.   2.   2.5  5.  26. ], [10.   2.   2.5  nan  5.  26. ]
Вывод данных, которые содержатся в z и в z_with_nan: 0    10.0
1     2.0
2     2.5
3     5.0
4    26.0
dtype: float64, 0    10.0
1     2.0
2     2.5
3     NaN
4     5.0
5    26.0
dtype: float64

4) После формирования исходных данных, приступаем к расчету центральной метрики, а именно среднего значения:

In [4]:
#Расчет средних значений
mean_1 = sum(x) / len(x)
print(f'Расчет среднего значения, используя sum и len: {mean_1}')
mean_2 = statistics.mean(x)
print(f'Расчет среднего значения, используя встроенные функции статистики Python (statistics.mean(x)): {mean_2}')
mean_3 = statistics.mean(x)
print(f'Расчет среднего значения, используя встроенные функции статистики Python (statistics.mean(x)): {mean_3}')
mean_4 = statistics.mean(x_with_nan)
print(f'Расчет среднего значения, который содержит значения nan, используя встроенные функции статистики Python (statistics.mean(x)): {mean_4}')
mean_5 = np.mean(y)
print(f'Расчет среднего значения, используя NumPy: {mean_5}')
np.nanmean(y_with_nan)
print(f'Расчет среднего значения с помощью NumPy, игнорируя nan: {np.nanmean(y_with_nan)}')
mean_6 = z.mean()
print(f'Расчет среднего значения объекта pd.Series: {mean_6}')

Расчет среднего значения, используя sum и len: 9.1
Расчет среднего значения, используя встроенные функции статистики Python (statistics.mean(x)): 9.1
Расчет среднего значения, используя встроенные функции статистики Python (statistics.mean(x)): 9.1
Расчет среднего значения, который содержит значения nan, используя встроенные функции статистики Python (statistics.mean(x)): nan
Расчет среднего значения, используя NumPy: 9.1
Расчет среднего значения с помощью NumPy, игнорируя nan: 9.1
Расчет среднего значения объекта pd.Series: 9.1

5) Рассчитаем средневзвешенное значение. Средневзвешенное или также называемое средневзвешенным арифметическим или средневзвешенным
значением, является обобщением среднего арифметического, которое позволяет вам определить относительный вклад каждой точки данных в результат:

In [5]:
#Расчет средневзвешанных значений
x = [6.0, 1, 2.5, 6, 25.0]
w = [0.1, 0.2, 0.3, 0.25, 0.15]
wmean = sum(w[i] * x[i] for i in range(len(x))) / sum(w)
print(f'Расчет средневзвешанного с помощью range: {wmean}')
wmean2 = sum(x_ * w_ for (x_, w_) in zip(x, w)) / sum(w)
print(f'Расчет средневзвешанного с помощью zip: {wmean2}')
y, z, w = np.array(x), pd.Series(x), np.array(w)
wmean3= np.average(y, weights=w)
print(f'Расчет средневзвешанного с помощью np.average для массивово NumPy или серии Pandas: {wmean3}')
o = (w * y).sum() / w.sum()
print(f'Расчет средневзвешанного с помощью поэлементного умножения w * y: {o}')
w = np.array([0.1, 0.2, 0.3, 0.0, 0.2, 0.1])
print(f'Расчет средневзвешанного для набора, который содержит nan: {(w * y_with_nan).sum() / w.sum()}')

Расчет средневзвешанного с помощью range: 6.8
Расчет средневзвешанного с помощью zip: 6.8
Расчет средневзвешанного с помощью np.average для массивово NumPy или серии Pandas: 6.8
Расчет средневзвешанного с помощью поэлементного умножения w * y: 6.8
Расчет средневзвешанного для набора, который содержит nan: nan

6) Рассчитаем гармоническое среднее, что есть обратная величина от
среднего значения обратных величин всех элементов в наборе данных:

In [6]:
#Гармоническое среднее
hmean = len(x) / sum(1 / item for item in x)
print(f'Расчет гармонического среднего: {hmean}')
hmean2 = statistics.harmonic_mean(x)
print(f'Расчет гармонического среднего с помощью statistics.harmonic_mean(): {hmean2}')
statistics.harmonic_mean(x_with_nan)
print(f'Расчет гармонического среднего, где есть nan: {statistics.harmonic_mean(x_with_nan)}')
statistics.harmonic_mean([1, 0, 2])
print(f'Расчет гармонического среднего, где есть 0: {statistics.harmonic_mean([1, 0, 2])}')
scipy.stats.hmean(y)
print(f'Расчет гармонического среднего с помощью scipy.stats.hmean(): {scipy.stats.hmean(y)}')

Расчет гармонического среднего: 2.8195488721804507
Расчет гармонического среднего с помощью statistics.harmonic_mean(): 2.819548872180451
Расчет гармонического среднего, где есть nan: nan
Расчет гармонического среднего, где есть 0: 0
Расчет гармонического среднего с помощью scipy.stats.hmean(): 2.8195488721804507

7) Рассчитаем среднее геометрическое:

In [7]:
#Среднее геометрическое
gmean = 1
for item in x:
   gmean *= item
   gmean **= 1 / len(x)
print(f'Вычисление геометрического среднего: {gmean}')
gmean2 = statistics.geometric_mean(x)
print(f'Вычисление геометрического среднего с помощью statistics.geometric_mean(): {gmean2}')
gmean3 = statistics.geometric_mean(x_with_nan)
print(f'Вычисление геометрического среднего где есть nan: {gmean3}')
scipy.stats.gmean(y)
print(f'Вычисление геометрического среднего с помощью scipy.stats.gmean(): {scipy.stats.gmean(y)}')

Вычисление геометрического среднего: 2.0613255209172676
Вычисление геометрического среднего с помощью statistics.geometric_mean(): 4.682054920046206
Вычисление геометрического среднего где есть nan: nan
Вычисление геометрического среднего с помощью scipy.stats.gmean(): 4.682054920046206

8) Медиана – это средний элемент отсортированного набора данных.
Расчет медианы представлен в следующем программном коде:

In [8]:
n = len(x)
if n % 2:
    median_ = sorted(x)[round(0.5*(n-1))]
else:
    x_ord, index = sorted(x), round(0.5 * n)
    median_ = 0.5 * (x_ord[index-1] + x_ord[index])
print(f'Расчет медианы: {median_}')
median_2 = statistics.median(x)
print(f'Расчет медианы с помощью statistics.median(): {median_2}')
statistics.median_low(x[:-1])
print(f'Расчет медианы с помощью statistics.median_low: {statistics.median_low(x[:-1])}')
statistics.median_high(x[:-1])
print(f'Расчет медианы с помощью statistics.median_high {statistics.median_high(x[:-1])}')
median_2 = np.median(y)
print(f'Расчет медианы с помощью np.median: {median_2}')

Расчет медианы: 6.0
Расчет медианы с помощью statistics.median(): 6.0
Расчет медианы с помощью statistics.median_low: 2.5
Расчет медианы с помощью statistics.median_high 6.0
Расчет медианы с помощью np.median: 6.0

9) Мода – это значение в наборе данных, которое встречается чаще всего.
Если такого значения не существует, набор является мультимодальным,
поскольку он имеет несколько модальных значений. Расчет моды представлен в
программном коде:

In [9]:
u = [2, 3, 2, 8, 12]
mode_ = max((u.count(item), item) for item in set(u))[1]
print(f'Вычисление моды: {mode_}')
mode_2 = statistics.mode(u)
print(f'Вычисление моды с помощью statistics.mode(): {mode_2}')
mode_3 = statistics.multimode(u)
print(f'Вычисление моды с помощью statistics.multimode(): {mode_3}')
mode_4 = scipy.stats.mode(u)
print(f'Вычисление моды с помощью scipy.stats.mode(): {mode_4}')

Вычисление моды: 2
Вычисление моды с помощью statistics.mode(): 2
Вычисление моды с помощью statistics.multimode(): [2]
Вычисление моды с помощью scipy.stats.mode(): ModeResult(mode=array([2]), count=array([2]))

C:\Users\sobol\AppData\Local\Temp\ipykernel_11780\1410363380.py:8: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode_4 = scipy.stats.mode(u)

10) Центральных метрик недостаточно для описания данных. Практически
всегда необходимы метрики оценки вариативности данных, которые
количественно определяют разброс точек данных. И первым показателем
метрики оценки вариативности данных является дисперсия. Дисперсия
количественно определяет разброс данных и численно показывает, как далеко
расположены точки данных от среднего значения. Расчет дисперсии:

In [10]:
n = len(x)
mean = sum(x) / n
var_ = sum((item - mean)**2 for item in x) / (n - 1)
print(f'Оценка дисперсии на чистом Python: {var_}')
var_1= statistics.variance(x)
print(f'Оценка дисперсии с помощью statistics.variance(): {var_1}')
statistics.variance(x_with_nan)
print(f'Оценка дисперсии с помощью statistics.variance(), где есть nan: {statistics.variance(x_with_nan)}')
var_2 = np.var(y, ddof=1)
print(f'Оценка дисперсии, используя NumPy с помощью np.var(): {var_2}')
var_3 = y.var(ddof=1)
print(f'Оценка дисперсии, используя NumPy с помощью метода .var(): {var_3}')

Оценка дисперсии на чистом Python: 94.04999999999998
Оценка дисперсии с помощью statistics.variance(): 94.05

ValueError: cannot convert NaN to integer ratio

11) Рассчитаем среднеквадратичное отклонение. Стандартное отклонение
выборки является еще одним показателем разброса данных. Он связан с
оценкой дисперсии, поскольку стандартное отклонение есть положительным
квадратный корень из оценки дисперсии. Стандартное отклонение часто более
удобно, чем дисперсия, потому что имеет ту же размерность, что и данные.
Расчет среднеквадратичного отклонения:

In [ ]:
#Среднеквадратичное отклонение
std_ = var_ ** 0.5
print(f'Расчет среднеквадратичного отклонения на чистом Python: {std_}')
std_2 = statistics.stdev(x)
print(f'Расчет среднеквадратичного отклонения с помощью statistics.stdev(): {std_2}')
np.std(y, ddof=1)
print(f'Расчет среднеквадратичного отклонения с помощью NumPy: {np.std(y, ddof=1)}')

12) Найдем смещение:

In [ ]:
#Смещение
x = [8.0, 1, 2.5, 4, 28.0]
n = len(x)
mean_ = sum(x) / n
var_ = sum((item - mean_)**2 for item in x) / (n - 1)
std_ = var_ ** 0.5
skew_ = (sum((item - mean_)**3 for item in x)
* n / ((n - 1) * (n - 2) * std_**3))
print(f'Расчет смещения на чистом Python: {skew_}')
z, z_with_nan = pd.Series(x), pd.Series(x_with_nan)
print(f'Расчет смещения с помощью Pandas: {z.skew()}')

13) Процентиль – такой элемент в наборе данных, что p элементов в этом
наборе данных меньше или равно его значению. Кроме того, (100 – p)
элементов больше или равно этому значению. Если в наборе данных есть два
таких элемента, то процентиль является их средним арифметическим.
Расчитаем процентиль:

In [ ]:
#Процентили
x = [-5.0, -1.1, 0.1, 2.0, 8.0, 12.8, 21.0, 25.8, 41.0]
print(f'Расчет процентилей с помощью statistics.quantiles():{statistics.quantiles(x, n=2)}')
statistics.quantiles(x, n=4, method='inclusive')
print(f"Расчет процентилей с помощью statistics.quantiles():{statistics.quantiles(x, n=4, method='inclusive')}")
y = np.array(x)
np.percentile(y, 5)
print(f'Нахождение 5 процентиля : {np.percentile(y, 5)}')
np.percentile(y, 95)
print(f'Нахождение 95 процентиля : {np.percentile(y, 95)}')
z, z_with_nan = pd.Series(y), pd.Series(y_with_nan)
z.quantile(0.05)
print(f'Нахождение процентиля используя метод .quantile(): {z.quantile(0.05)}')

14) Диапазон данных – это разница между максимальным и
минимальным элементом в наборе данных. Эти показатели найдем с
использованием функции np.ptp():

In [ ]:
#Диапазон
np.ptp(y)
np.ptp(z)
np.ptp(y_with_nan)
np.ptp(z_with_nan)
print(f'Нахождение диапазона с помощью функции np.ptp(): {np.ptp(y),np.ptp(z),np.ptp(y_with_nan),np.ptp(z_with_nan)}')

15) сводка описательной статистики:

In [ ]:
#Сводка описательной статистики
result = scipy.stats.describe(y, ddof=1, bias=False)
print(f'Сводка описательной статистики с помощью scipy.stats.describe(): {result}')
result2 = z.describe()
print(f'Сводка описательной статистики с помощью метода .describe() в Pandas: {result2}')

# Задание №2.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler,
OneHotEncoder
from sklearn.model_selection import train_test_split
import seaborn as sns
from scipy.stats import norm
from scipy import stats
from pandas import DataFrame
%matplotlib inline

1) Данные
- Сколько данных в датасете?

In [ ]:
pd.set_option('display.max_columns', 100)
df = pd.read_csv('D:/Lab5/19house_train.csv')
df.drop('Id', axis=1, inplace=True)
df.shape[0]

– Сколько параметров? Выведите список всех параметров.

In [ ]:
print(f'Параметров: ', df.columns.size)
df.info(memory_usage='deep')

– Есть ли категориальные признаки? Перечислите / выведите их.

In [ ]:
df.describe(include=['O']).T

– Выведите первые пять строчек DataFrame.

In [ ]:
df.head()

2) Просмотреть основную информацию по датасету можно, выполнив
инструкции

In [ ]:
df.describe()

А что будет, если выполнить такую инструкцию:
df.describe().T ?

In [ ]:
df.describe().T

-Получим статистику отдельного показателя, например, "SalePrice":

In [ ]:
df['SalePrice'].describe()

а) Чему равно среднее значение?

In [ ]:
df['SalePrice'].describe()['mean']

б) Чему равно стандартное отклонение?

In [ ]:
df['SalePrice'].describe()['std']

3) Проверьте, есть ли пропуски и повторы в данных.

In [ ]:
print(df.isna().sum())

3.1) Повторяющиеся строки – дубликаты – выявляются методом
duplicated() и подсчитываются тем же sum(). Если возвращаются нули, то
данные пригодны для исследования:

In [ ]:
print(df.duplicated().sum())

4) Получите список названий столбцов, запросив атрибут columns.

In [ ]:
print(df.columns)

5) Анализ пропущенных значений и удаление

а) Выясним, в каких параметрах отсутствует статистика (данные)

In [ ]:
na_count = df.isnull().sum().sort_values(ascending=False) #Вычисляем, сколько пропущенных значений в параметрах
na_rate = na_count / len(df) 
'''Вычисляем частоту или 
вероятность, с которой пропущенное значение встречается в
каждом параметре. Если вероятность большая (>0.5), столбцы-
параметры можно смело удалять).
'''
# формируем массив для печати
na_data = pd.concat([na_count, na_rate],axis=1,keys=['count','ratio'])
print(na_data)

In [ ]:
df_new = df.drop(['PoolQC', 'MiscFeature', 'Alley'], axis=1)
print(df_new.isna().sum())

In [ ]:
df_new.shape

In [ ]:
df_new = df_new.drop(['GarageQual', 'GarageCond', 'Fence'], axis=1)
print(df_new.isna().sum())

In [ ]:
df_new=df_new.drop(['MasVnrArea', 'MasVnrType'], axis=1)
print(df_new.isna().sum())

In [ ]:
df_new.shape

In [ ]:
df = pd.read_csv('D:/Lab5/19house_train.csv')
df.head()

6.1. Гистограмма

In [ ]:
import seaborn as sb
sb.distplot(df['SalePrice'])

По рисунку: цена дома подчиняется нормальному распределению?

Да, подчиняется.

In [ ]:
print("Skewness: %f" % df['SalePrice'].skew())
print("Kurtosis: %f" % df['SalePrice'].kurt())

Задание: Постройте гистограмму параметра SalePrice всех домов c заголовком 'Histogram of Sale Price', заголовок оси х – 'price', заголовок оси у – 'count'.

In [ ]:
import matplotlib.pyplot as plt
ax = sb.histplot(df['SalePrice'], color='orange')
ax.set(xlabel='price', ylabel='count', title='Histogram of Sale Price')
plt.show()

6.2. Boxplot

Построить коробочную диаграмму (ящик с усами) признака SalePrice всех домов в данных. Боксплоты не показывают форму распределения, но они могут дать нам лучшее представление о центре и распространении распределения, а 5также о любых возможных выбросах, которые могут существовать. Боксплоты и гистограммы часто дополняют друг друга и помогают нам лучше понять данные. Заголовок рисунка – title='Box plot of SalePrice'.

In [ ]:
ax = sb.boxplot(df['SalePrice'], color='orange')
ax.set(xlabel='SalePrice', title='Box plot of SalePrice')
plt.show()

6.3. Гистограммы и Боксплоты по группам

а) Для построения Boxplot и гистограмм цены дома сгруппируем данные с кондиционером (name = 'With air conditioning') и без кондиционера (name = 'No air conditioning'); для Boxplot title = "Boxplot of Sale Price by air conditioning". Результат:

In [ ]:
ax = sb.boxplot(y='SalePrice', x='CentralAir', data=df)
ax.set(title='Boxplot of Sale Price by air conditioning')
plt.show()

б) Для гистограммы – заголовок title='Histogram of House Sale Price for both with and with no Central air conditioning'

In [ ]:
ax = sb.histplot(x='SalePrice', hue='CentralAir', data=df)
ax.set(title='Histogram of House Sale Price for both with and with no Central air conditioning')
plt.show()

в) Выведем описательную статистику 'CentralAir' и 'SalePrice' с помощью инструкции:

In [ ]:
df.groupby('CentralAir')['SalePrice'].describe()

г) Постройте Boxplot и гистограмму цены продажи домов (параметр 'SalePrice'), сгруппированные по размеру гаража (параметр 'GarageCars'): title = "Boxplot of Sale Price by garage size". Используйте при группировке name = 'no garage' и name = '1- car garage' – если гараж для одной машины; name = '2-car garage' – если гараж для двух машин; name = '3-car garage' – если гараж для трех машин; name = '4-car garage' – если гараж для четырех машин.

In [ ]:
ax = sb.boxplot(y='SalePrice', x='GarageCars', data=df)
ax.set(title='Boxplot of Sale Price by garage size')
plt.show()

д) Гистограмму цены продажи дома без гаража title='Histogram of Sale Price of houses with no garage'

In [ ]:
ax = sb.histplot(x='SalePrice', data=df.loc[df['GarageCars'] == 0])
ax.set(title='Histogram of Sale Price of houses with no garage')
plt.show()

е) Гистограмму цены продажи дома с гаражом на 1 машину title='Histogram of Sale Price of houses with 1-car garage'

In [ ]:
ax = sb.histplot(x='SalePrice', data=df.loc[df['GarageCars'] == 1])
ax.set(title='Histogram of Sale Price of houses with 1-car garage')
plt.show()

ё) Гистограмму цены продажи дома с гаражом на 2 машины title='Histogram of Sale Price of houses with 2-car garage')

In [ ]:
ax = sb.histplot(x='SalePrice', data=df.loc[df['GarageCars'] == 2])
ax.set(title='Histogram of Sale Price of houses with 2-car garage')
plt.show()

ж) Гистограмму цены продажи дома с гаражом на 3 машины title='Histogram of Sale Price of houses with 3-car garage'

In [ ]:
ax = sb.histplot(x='SalePrice', data=df.loc[df['GarageCars'] == 3])
ax.set(title='Histogram of Sale Price of houses with 3-car garage')
plt.show()

з) Гистограмму цены продажи дома с гаражом на 4 машины title='Histogram of Sale Price of houses with 4-car garage'

In [ ]:
ax = sb.histplot(x='SalePrice', data=df.loc[df['GarageCars'] == 4])
ax.set(title='Histogram of Sale Price of houses with 4-car garage')
plt.show()

6.4. Таблица частот

а) Таблица частот размеров гаража

In [ ]:
x = df.GarageCars.value_counts()
x/x.sum()

Наиболее распространены гаражи с двумя местами.

б) Таблица частот центрального кондиционирования

In [ ]:
x = df.CentralAir.value_counts()
x/x.sum()

6.5. Числовые характеристики параметров

Рассчитайте долю домов с продажной ценой между 25-м процентилем (129975) и 75-м процентилем (214000).

In [11]:
print('The proportion of the houses with prices between 25th percentile and 75th percentile: ',
np.mean((df.SalePrice >= 129975) & (df.SalePrice <= 214000)))

NameError: name 'df' is not defined

Рассчитайте долю домов с общей площадью в квадратных футах от 25-го процентиля (795,75) до 75-го процентиля (1298,25).

In [12]:
print('The proportion of house with total square feet of basement area between 25th percentile and 75th percentile:', 
np.mean((df.TotalBsmtSF >= 795.75) & (df.TotalBsmtSF <= 1298.25)))

NameError: name 'df' is not defined

Наконец, мы рассчитаем долю домов на основе любых условий. Поскольку некоторые дома соответствуют обоим критериям, приведенная ниже пропорция меньше суммы двух пропорций, рассчитанных выше.

In [13]:
a = (df.SalePrice >= 129975) & (df.SalePrice <= 214000)
b = (df.TotalBsmtSF >= 795.75) & (df.TotalBsmtSF <= 1298.25)
print(np.mean(a | b))

NameError: name 'df' is not defined

Рассчитать цену продажи интерквартильного размаха IQR для домов без кондиционера. Англоязычная аббревиатура IQR – интерквартильный размах – число, которое показывает разброс средней половины (т.е. средние 50%) набора данных и помогает определить выбросы. IQR – это разница между третьим квартилем (Q3) и первым(Q1).

In [14]:
q75, q25 = np.percentile(df.loc[df['CentralAir']=='N']['SalePrice'], [75,25])
iqr = q75 - q25
print('Sale price IQR for houses with no air conditioning:', iqr)

NameError: name 'df' is not defined

Рассчитать цену продажи IQR для домов с кондиционером

In [15]:
q75, q25 = np.percentile(df.loc[df['CentralAir']=='Y']['SalePrice'], [75,25])
iqr = q75 - q25
print('Sale price IQR for houses with air conditioning: ', iqr)

NameError: name 'df' is not defined

6.6. Стратификация

In [16]:
df['HouseAge'] = 2019 - df['YearBuilt']
df["AgeGrp"] = pd.cut(df.HouseAge, [9, 20, 40, 60, 80, 100, 147]) # Create age strata based on these cut points
plt.figure(figsize=(12, 5))
sb.boxplot(x="AgeGrp", y="SalePrice", data=df)

NameError: name 'df' is not defined

Вопрос: Сравните возраст дома и среднюю цену на него. Какая наблюдается закономерность?

In [17]:
Чем моложе дом, тем больше цена.

SyntaxError: invalid syntax (4198862575.py, line 1)

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(12, 5))
sb.boxplot(x="YearBuilt", y="SalePrice", hue="CentralAir", data=df)
plt.show()

Сделайте вывод: какие по возрасту дома более оснащены кондиционерами.

Более новые дома оснащены кондиционерами.

In [18]:
plt.figure(figsize=(12, 5))
sb.boxplot(x="CentralAir", y="SalePrice", hue="YearBuilt", data=df)
plt.show()

NameError: name 'plt' is not defined

In [ ]:
df1 = df.groupby(["YearBuilt", "CentralAir"])["BldgType"]
df1 = df1.value_counts()
df1 = df1.unstack()
df1 = df1.apply(lambda x: x/x.sum(), axis=1)
print(df1.to_string(float_format="%.3f"))

6.6. Отображения диаграмм

In [19]:
output,var,var1,var2 = 'SalePrice', 'GrLivArea', 'TotalBsmtSF', 'OverallQual'
fig, axes = plt.subplots(nrows=1,ncols=3,figsize=(16,5))
df.plot.scatter(x=var,y=output,ylim=(0,800000),ax=axes[0])
df.plot.scatter(x=var1,y=output,ylim=(0,800000),ax=axes[1])
df.plot.scatter(x=var2,y=output,ylim=(0,800000),ax=axes[2])

NameError: name 'plt' is not defined

Наблюдается ли взаимосвязь между переменными?

Да, наблюдается взаимосвязь между переменными.

In [20]:
fig, ax = plt.subplots(figsize=(8,6))
sb.boxplot(x=var2,y=output,data=df)
ax.set_ylim(0,800000)
plt.show()

NameError: name 'plt' is not defined

Между какими параметрами построен boxplot? Есть ли выбросы в данных?

In [21]:
Boxplot построен между ценой и качеством, выбросы имеются.

SyntaxError: invalid syntax (3010066505.py, line 1)

In [ ]:
var3 = 'YearBuilt'
fig, ax = plt.subplots(figsize=(16,8))
sb.boxplot(x=var3,y=output,data=df)
ax.set_ylim(0,800000)
plt.xticks(rotation=90)
plt.show()

6.7. Отображение тепловой карты характеристической ковариационной матрицы

In [22]:
corrmat = df.corr()
f, ax = plt.subplots(figsize=(12, 9))
sb.heatmap(corrmat, vmax = .8, square = True, ax = ax)
plt.show()

NameError: name 'df' is not defined

In [ ]:
k = 10
top10_attr = corrmat.nlargest(k, output).index
top10_mat = corrmat.loc[top10_attr, top10_attr]
fig,ax = plt.subplots(figsize=(8,6))
sb.set(font_scale=1.25)
sb.heatmap(top10_mat, annot=True, annot_kws={'size':12}, square=True)
# Установите аннотацию для отображения чисел в маленьких ячейках и annot_kws для настройки числового формата
plt.show()

6.7. Графическая матрица, объединяющая точечные и столбчатые диаграммы

In [23]:
var_set = ['SalePrice', 'OverallQual', 'GrLivArea', 'GarageCars', 'TotalBsmtSF', 'FullBath', 'YearBuilt']
sb.set (font_scale = 1.25) # Устанавливаем размер шрифта по горизонтальной и вертикальной оси
sb.pairplot (df[var_set]) # 7 * 7 графическая матрица
# Различные типы отображения могут быть установлены в параметрах kind и diag_kind, вот диаграммы разброса и гистограммы, и вы также можете установить разные типы отображения на каждом графике
plt.show()

NameError: name 'sb' is not defined

# Задание №3.

Изучите файл https://cloud.mail.ru/public/ZpXM/CzbXousb7 и расположенное на предпоследнем слайде. Данные https://cloud.mail.ru/public/Zg8c/vC68paTcx. выполните скачайте задание, отсюда

In [24]:
df = pd.read_csv('D:/Lab5/14water.txt', sep='\t')
df.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

1) Используя метод .describe() вычислите описательные статистики для северных и
южных городов. Сравните средние значения смертности в северных и южных городах и значения концентрации кальция в питьевой воде

In [25]:
df.loc[df.location == 'South'].describe()

         mortality    hardness
count    26.000000   26.000000
mean   1376.807692   69.769231
std     140.269175   40.360682
min    1096.000000    5.000000
25%    1259.250000   40.250000
50%    1364.000000   75.500000
75%    1485.750000   99.750000
max    1627.000000  138.000000

In [26]:
df.loc[df.location == 'North'].describe()

         mortality   hardness
count    35.000000  35.000000
mean   1633.600000  30.400000
std     136.936911  26.134494
min    1378.000000   6.000000
25%    1557.500000  12.500000
50%    1637.000000  17.000000
75%    1718.000000  44.000000
max    1987.000000  94.000000

Среднее значение смертности больше на севере, среднее значение концентрации кальция в питьевой воде больше на юге.

2) Постройте 95% доверительные интервалы для средней годовой смертности по
всем южным и северным городам. Отличаются ли границы интервалов?

In [27]:
from statsmodels.stats.weightstats import _tconfint_generic

In [28]:
df_south = df.loc[df.location == 'South']
df_north = df.loc[df.location == 'North']
mort_mean_s = df_south.mortality.mean()
mort_mean_n = df_north.mortality.mean()
mort_mean_std_s = df_south.mortality.std() / np.sqrt(df_south.mortality.shape[0])
mort_mean_std_n = df_north.mortality.std() / np.sqrt(df_north.mortality.shape[0])
print("South 95%: ", _tconfint_generic(mort_mean_s, mort_mean_std_s, df_south.mortality.shape[0] - 1, 0.05, 'two-sided'))
print("North 95%: ", _tconfint_generic(mort_mean_n, mort_mean_std_n, df_north.mortality.shape[0] - 1, 0.05, 'two-sided'))

South 95%:  (1320.1517462936238, 1433.463638321761)
North 95%:  (1586.5605251961385, 1680.6394748038613)

Границы доверительного интервала сильно отличаются.

3) Постройте 95% доверительные интервалы для средней концентрации кальция в
питьевой воде для южных и северных городов. Отличаются ли границы интервалов?

In [29]:
df_south = df.loc[df.location == 'South']
df_north = df.loc[df.location == 'North']
mort_mean_s = df_south.hardness.mean()
mort_mean_n = df_north.hardness.mean()
mort_mean_std_s = df_south.hardness.std() / np.sqrt(df_south.hardness.shape[0])
mort_mean_std_n = df_north.hardness.std() / np.sqrt(df_north.hardness.shape[0])
print("South 95%: ", _tconfint_generic(mort_mean_s, mort_mean_std_s, df_south.hardness.shape[0] - 1, 0.05, 'two-sided'))
print("North 95%: ", _tconfint_generic(mort_mean_n, mort_mean_std_n, df_north.hardness.shape[0] - 1, 0.05, 'two-sided'))

South 95%:  (53.467198692036106, 86.07126284642544)
North 95%:  (21.42248728572426, 39.37751271427574)

Границы доверительного интервала сильно отличаются.

4) Какие можно сделать выводы?

Смертность выше на севере, концентрация кальция в питьевой воде выше на юге.

# Задание №4.

Проведите всесторонний анализ и визуализацию данных. Пользуйтесь
https://cloud.mail.ru/public/A8ie/9dJHy8iHo, материалами лекции и другими доступными
источниками.

1. Используя ресурс kaggle (https://www.kaggle.com/), выберите один из наборов
данных. Загрузите этот набор и выведите первые 10 записей на экран.

In [30]:
df = pd.read_csv('D:/Lab5/healthcare-dataset-stroke data.csv')
df.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1

2. Опишите данные набора: какие признаки в нем присутствуют, что они означают,
какой у них тип данных, какие значения могут принимать.

1) id: unique identifier (уникальный номер)
2) gender: "Male", "Female" or "Other" (пол (мужской, женский, другой))
3) age: age of the patient (возраст пациента)
4) hypertension: 0 if the patient doesn't have hypertension, 1 if the patient has hypertension (гипертензия 0 - нет, 1 - есть)
5) heart_disease: 0 if the patient doesn't have any heart diseases, 1 if the patient has a heart disease (сердечные заболевания 0 - нет, 1 - есть)
6) ever_married: "No" or "Yes" (был(а) ли в браке (да, нет))
7) work_type: "children", "Govt_jov", "Never_worked", "Private" or "Self-employed" (тип работы (ребенок, госработа, никогда не работал, частный или самозанятый))
8) Residence_type: "Rural" or "Urban" (сельский или городской)
9) avg_glucose_level: average glucose level in blood (средний уровень глюкозы в крови)
10) bmi: body mass index (индекс массы тела)
11) smoking_status: "formerly smoked", "never smoked", "smokes" or "Unknown" (статус курения «ранее курил», «никогда не курил», «курит» или «неизвестно»)
12) stroke: 1 if the patient had a stroke or 0 if not (был ли инсульт 1 - да, 0 - нет)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

3. Укажите какие признаки являются количественными, качественными порядковыми
и качественными номинальными.

Количественные: age, avg_glucose_level, bmi

Качественные номинальные: gender, hypertension, heart_disease, ever_married, work_type, Residence_type, smoking_status, stroke

4. Рассчитайте параметры описательной статистики для признаков набора. С помощью
параметров описательной статистики опишите один из количественных признаков и один из категориальных признаков. Есть ли в количественном признаке выбросы? Какое значение является выбросом и почему? По какому категориальному признаку можно группировать данные? Какие группировки представляют интерес и почему?

In [32]:
print("Характеристики для уровня глюкозы")
mean = np.mean(df['avg_glucose_level'])
print("Среднее значение:", mean)
hmean = len(x) / sum(1 / item for item in df['avg_glucose_level'])
print("Гармоническое среднее:", hmean)
gmean = 1
for item in x:
    gmean *= item
    gmean **= 1 / len(df['avg_glucose_level'])
print("Среднее геометрическое:", gmean)
median = np.median(df['avg_glucose_level'])
print("Медиана:", median)
mode = statistics.mode(df['avg_glucose_level'])
print("Мода:", mode)
var = np.var(df['avg_glucose_level'], ddof=1)
print("Дисперсия:", var)
std = np.std(df['avg_glucose_level'], ddof=1)
print("Среднеквадратичное отклонение:", std)
print("Смещение:", df['avg_glucose_level'].skew())
print("Диапазон:", np.ptp(df['avg_glucose_level']))
result = df['avg_glucose_level'].describe()
print("Статистика:", result, sep='\n')

Характеристики для уровня глюкозы
Среднее значение: 106.1476771037182
Гармоническое среднее: 0.09109645859169917
Среднее геометрическое: 1.000630184098628
Медиана: 91.88499999999999
Мода: 93.88
Дисперсия: 2050.600819911376
Среднеквадратичное отклонение: 45.28356015058198
Смещение: 1.5722838665030459
Диапазон: 216.62
Статистика:
count    5110.000000
mean      106.147677
std        45.283560
min        55.120000
25%        77.245000
50%        91.885000
75%       114.090000
max       271.740000
Name: avg_glucose_level, dtype: float64

6. Проведите корреляционный анализ. Есть ли в вашем наборе данных коррелирующие
признаки?

In [33]:
corrmat = df.corr()
f, ax = plt.subplots(figsize=(12, 9))
sb.heatmap(corrmat, vmax = .8, square = True, ax = ax)
plt.show()

C:\Users\sobol\AppData\Local\Temp\ipykernel_11780\2594278645.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corrmat = df.corr()

NameError: name 'plt' is not defined

In [ ]:
k = 10
output = 'stroke'
top10_attr = corrmat.nlargest(k, output).index
top10_mat = corrmat.loc[top10_attr, top10_attr]
fig,ax = plt.subplots(figsize=(8,6))
sb.set(font_scale=1.25)
sb.heatmap(top10_mat, annot=True, annot_kws={'size':12}, square=True)
plt.show()

Пояснение: Есть очень слабая корреляция между инсультом и индексом массы тела, болезнями сердца, гипертензией и уровнем глюкозы.